<p style="color: green"><%= notice %></p>



<div class="container">
  
<h1>User Details</h1>

  <% if @user.image.attached? %>
    <%= image_tag(@user.image, :size =>'400x200') %>
  <% end %>
  <dl class="row">
    <dt class="col-sm-3">First Name:</dt>
    <dd class="col-sm-9"><%= @user.first_name %></dd>
    
    <dt class="col-sm-3">Last Name:</dt>
    <dd class="col-sm-9"><%= @user.last_name %></dd>
    
    <dt class="col-sm-3">Role:</dt>
    <dd class="col-sm-9"><%= @user.role.humanize %></dd>
  </dl>
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
  <%= link_to 'Back', users_path, class: 'btn btn-secondary' %>
</div>

